@default-bg: white;
@default-text: black;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  background: @default-bg;
  color: @default-text;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0 1em;

  & > small {
    color: gray;
    font-size: 70%;
  }
}

i.fi {
  font-size: 1.5em;
}

.result {
  display: inline-block;
  padding: 10px;
}

.result-results {
  height: 500px;
  border: 1px solid lightgray;

  .result-runners {
    height: 100%;
    overflow: auto;
  }
}

::-webkit-scrollbar {
    display: none;
}
