[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*
 * Foundation overrides
 */

.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.eightywidth {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

i.fi {
  font-size: 2em;
}

/*
 * Custom styles
 */

.config-container {
  position: absolute;
  width: 100%;

  .config {
    position: relative;
    z-index: 5;
  }
}

.result-results, .recent-banner {
  border: 1px solid lightgray;
  font-size: 2em;
}

.result-results {
  height: 500px;

  .result-runners {
    height: 100%;
    overflow: auto;
  }
}

.runner-ranked, .runner-unranked, .runner-recent {
  &.latest {
    background-color: #f78181;
  }
  &.recent {
    background-color: #ffffaa;
  }
}

.runner-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Hide scrollbar (Chrome only)
 */

::-webkit-scrollbar {
    display: none;
}
