<div class="row fullwidth">
  <div ng-repeat="result in columnResults(0, 2) track by result.name" class="small-3 columns result">
    <ng-include src="'views/result-header.html'"></ng-include>
    <div class="result-results" ng-style="{height: columns.height + 'px'}">
      <ng-include src="'views/result-runners.html'"></ng-include>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="row">
      <div ng-repeat="result in columnResults(2, 6) track by result.name" class="small-6 columns result" ng-class="{end: $last}">
        <ng-include src="'views/result-header.html'"></ng-include>
        <div class="result-results" ng-style="{height: columns.height / 2 + 'px'}">
          <ng-include src="'views/result-runners.html'"></ng-include>
        </div>
      </div>      
    </div>
  </div>
</div>
