<div class="row config">
  <div class="small-12 columns panel">
    <div class="row config-source"><!-- .config-source -->
      <div class="small-2 columns">
        <label for="config-data-source" class="right inline">Source :</label>
      </div>
      <div class="small-2 columns">
        <input id="config-data-source" ng-model="dataSource.url" type="text">
      </div>
      <div class="small-2 columns">
        <label for="config-data-poll" class="right inline">Rechargement :</label>
      </div>
      <div class="small-1 columns">
        <input id="config-data-poll" ng-model="dataSource.pollInterval" type="number">
      </div>
      <div class="small-2 columns">
        <label class="right inline">Status : {{ dataSource.status }}</label>
      </div>
      <div class="small-3 columns">
        <div class="row">
          <div class="small-12 columns">
            <a ng-click="start()" class="label success radius"><i class="fi fi-play"></i></a>
            &nbsp;
            <a ng-click="stop()" class="label alert radius"><i class="fi fi-stop"></i></a>
            &nbsp;
            <a ng-click="refresh()" class="label radius"><i class="fi fi-refresh"></i></a>
          </div>
        </div>
      </div>
    </div><!-- .config-source -->
    <div class="row config-scrolling"><!-- .config-scrolling -->
      <div class="small-2 columns">
        <label for="config-scroll-interval" class="right inline">Scrolling auto :</label>
      </div>
      <div class="small-1 columns">
        <input id="config-scroll-interval" ng-model="scrolling.interval" type="number" disabled>
      </div>
      <div class="small-1 columns">&nbsp;</div>
      <div class="small-2 columns">
        <label for="config-scroll-step" class="right inline">Scrolling step :</label>
      </div>
      <div class="small-1 columns">
        <input id="config-scroll-step" ng-model="scrolling.step" type="number">
      </div>
      <div class="small-2 columns">
        <label for="config-scroll-animation" class="right inline">Animation :</label>
      </div>
      <div class="small-1 columns">
        <input id="config-scroll-animation" ng-model="scrolling.animation" type="number">
      </div>
      <div class="small-1 columns">
        <label for="config-column-height" class="right inline">Hauteur</label>
      </div>
      <div class="small-1 columns end">
        <input id="config-column-height" ng-model="columns.height" type="number">
      </div>
    </div><!-- .config-scrolling -->
    <div class="row config-columns">
      <div class="small-3 columns" ng-repeat="r in resultNames()" ng-class="{end: $last}">
        <select ng-model="columnSelectors[$index]" ng-options="result for result in resultNames()">
          <option value="">---</option>
        </select>
      </div>
    </div><!-- .config-columns -->
    <!-- <div class="row"></div> -->
  </div>
</div>  <!-- .config -->